.progress_bar{
    background: conic-gradient(#44B77B 231deg, #F3F4FA 0deg);
    border-radius: 100%;
}
.input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.custom_checkbox{
    width: 30px;
    height: 30px;
    border:3px solid #dfe0e5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.check_icon{
    max-width: 80%;
    opacity: 0;
    scale: 0.3;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.checbox_active_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    top: 0;
    left: 0;
    opacity: 0.7;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}
.option_wrap .input:checked ~ .checbox_active_overlay{
    border:3px solid #35D299;
    opacity: 1;
    background: #fff;
}

.option_wrap .input:checked ~ .custom_checkbox{
    background:#35D299;
    border:3px solid #35D299;
}
.option_wrap .input:checked ~ .custom_checkbox .check_icon{
    opacity: 1;
    scale: 1;
    width: 100%;
    height: 100%;
}